# Problem Definition

This notebook focus on creating a successful machine learning that predicts coffee bean origin country.

# Data Acquisition

In [1224]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
import string

In [1225]:
# import/convert csv to pd
train_url = "./data/train.csv"
test_url = "./data/test.csv"

train_df = pd.read_csv(train_url).rename(columns={"Unnamed: 0": "id"})
test_df = pd.read_csv(test_url).drop(columns={"Unnamed: 0": "id"})

print("TRAIN DATA SHAPE: ", train_df.shape)
print("TEST DATA SHAPE: ", test_df.shape)

TRAIN DATA SHAPE:  (585, 29)
TEST DATA SHAPE:  (147, 27)

# Data Exploration

In [1226]:
train_df

,id,Species,Farm.Name,Lot.Number,Altitude,Number.of.Bags,Bag.Weight,Harvest.Year,Grading.Date,Variety,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,Country.of.Origin
0,0,Arabica,conquista / morito,NaN,NaN,250,1 kg,2012,"January 13th, 2012",Bourbon,...,10.0,7.00,78.33,0.11,0,0.0,Green,9,"January 12th, 2013",2
1,1,Arabica,NaN,NaN,de 1.600 a 1.950 msn,275,70 kg,Mayo a Julio,"July 29th, 2011",Caturra,...,10.0,8.17,83.08,0.01,0,0.0,NaN,0,"July 28th, 2012",1
2,2,Arabica,la esmeralda,11/23/0634,4000,25,69 kg,2017,"September 8th, 2017",Bourbon,...,10.0,7.50,82.58,0.10,0,1.0,Green,2,"September 8th, 2018",2
3,3,Arabica,fazenda santo antonio,NaN,900-1100,305,2 kg,2014,"February 13th, 2015",Catuai,...,10.0,7.58,83.00,0.00,0,0.0,Green,0,"February 13th, 2016",0
4,4,Arabica,NaN,NaN,NaN,1,5 lbs,2013,"September 12th, 2014",NaN,...,10.0,7.25,82.08,0.11,1,0.0,Green,0,"September 12th, 2015",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,580,Arabica,NaN,NaN,1800,275,2 kg,2015/2016,"June 5th, 2015",Other,...,10.0,7.83,84.25,0.12,0,0.0,Green,0,"June 4th, 2016",1
581,581,Arabica,cafetal,101,1300,200,69 kg,2017,"July 3rd, 2017",Mundo Novo,...,10.0,7.83,83.92,0.11,0,0.0,Green,5,"July 3rd, 2018",3
582,582,Arabica,las lomas,NaN,1200,250,1 kg,2012,"July 11th, 2012",Bourbon,...,10.0,7.67,83.00,0.11,5,0.0,Green,8,"July 11th, 2013",3
583,583,Arabica,NaN,NaN,1800 msnm,250,70 kg,4T/10,"February 9th, 2011",NaN,...,10.0,7.42,82.17,0.08,0,0.0,NaN,0,"February 9th, 2012",1
584,584,Arabica,NaN,NaN,de 1600 a 1950 msnm,138,70 kg,2014,"April 8th, 2014",Caturra,...,10.0,8.33,84.00,0.12,0,0.0,Green,3,"April 8th, 2015",1

In [1227]:
# check features values summary
col_values = {}
for col in train_df.columns[:]:
    col_values[col] = train_df[col].unique().tolist()
print(f"FEATURES VALUES SUMMARY\n-----")
for col in col_values:
    print(f"{col}: {col_values[col]}")

FEATURES VALUES SUMMARY
-----
id: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584]
Species: ['Arabica']
Farm.Name: ['conquista / morito', nan, 'la esmeralda', 'fazenda santo antonio', 'agropecuaria quiagral', 'pereira estate coffee', 'gabriel bernard rivas ross', 'el injerto s.a.', 'el jabali', 'various', 'los magueyes', 'capoeirinha', 'fazenda capoeirnha', 'el papaturro', 'cafetal el equimite, rancho agroecológico', 'kassandra', 'los charcos', 'arroyo triste, arroyo triste, san jose vista hermosa', 'rio verde', 'sitío são geraldo', 'são rafael_ ra/ras certified', 'la calera, barranca de la leona, el nogal', 'cruz verde', 'chapultepec', 'finca el retiro', 'finca muxbal', 'finca el naranjal', 'chiquimulja / alpha cafe / senfro', 'el aguacate', 'las delicias', 'corta pico', 'santa cecilia', 'finca teocelo', 'piamonte', 'fazenda são pedro', 'fazenda são josé mirante', 'el delirio', 'el faro', 'fazendas klem ltda', 'finca los barreales 1112lban', 'canoa manzanillo', 'naranjal', 'beneficio el torreon', 'el encanto', 'ojo de agua', 'el morito', 'casa blanca', 'zaragoza, montelibano, pamal navil', 'agua de la mariposa', 'fazenda serra negra', 'la castellana', 'finca cuetzalingo', 'las merceditas', 'são francisco da serra', 'la esperanza y anexos', 'fazenda kaquend', 'el pino', 'santa maria', 'finca quequesquez', 'santa cruz - pante doña graciela', 'la victoria pante nubes', 'valparaiso', 'la joya', 'la corralera', 'union ramal santa cruz', 'los encinos', 'el chile', 'santa fé 2', 'hamburgo 7 arroyos', 'fiech (mixed producers)', 'finca nextlalpa', 'cortapico', 'jamaica', 'la ceiba', 'la canada', 'santa rosa', 'finca medina', 'pante carajillo', 'finca san vicente', 'los pinos', 'la union monte verde', 'finca huehuetecpan', 'finca el morito', 'campo das flores', 'san marcos barrancas "san cristobal cuch', 'santa teresa', 'comunidad la yerbabuena', 'unkown', 'la esperanza', 'la igualdad', 'finca las cuevitas', 'caxambu', 'la cruz', 'vegas', 'santa maria temaxcalapa', 'fazenda recreio', 'grupo medina (pequeños productores)', 'finca el limon', 'las truchas', 'sitío corrego da olaria/são caetano', 'la tejeria', 'los brujos', 'el vergel', 'santo tomas pachuj', 'finca nueva linda', 'selva negra', 'el desmoronado, talpan de allende jalisco', 'consolapa', 'cianorte', 'tomatlancillo', 'la orduña', 'la marina-el orizabeño', 'cofradia', 'la pandora', 'coop. hoja blanca - fedecocagua', 'several', 'copalita', 'providencia', 'exportadora café california', 'predio cañada del encino', 'el romance azul', 'fazenda do sertao', 'finca la chiripa', 'el sacramento', 'pinzoneno', 'peña negra', 'helena', 'rancho los laureles', 'finca monte grande', 'aprocafi', 'el deseo', 'el regadito', 'cre-leg l-4', 'café do paraíso', 'cafetal sinai', 'el tesoro', 'la laja', 'san lorenzo', 'grapos el porvenir', 'finca los cerros y anexos', 'palantla', 'la barranca', 'nueva granada', 'el nogal, la higuera, los laureles', 'los llanitos', 'bola de oro', 'finca santa teresa', 'el desmoronado', 'ucipa santa catarina', 'el tabaco', 'genuine antigua medina', 'fln mirador', 'las palmas', 'finca apoxtla', 'sacún palma', 'la esperanza, margarita nuyes', 'leticia farm', 'fazenda rio verde', 'comunidad de canoas', 'finca santa clara', 'finca sant rosa', 'café citrus', 'finca tepictla', 'finca los barreales 1112lbga7250412', 'fazenda rio brilhante', 'finca buenos aires', 'finca sego', 'ecobio colombia', 'santa mariana/são vicente', 'el carrizo', 'sertao farm', 'omicuatla', 'fazenda sacramento', 'cerca de los angeles', 'fazenda são sebastião', 'mata larga', 'cachoeira da grama farm', 'la cuchilla', 'el naranjo', 'la gloria', 'tepemalacax', 'san josé y el portillo', 'olotlan, el plan, criollo garnica', 'pico del oro', 'el guayabo', 'santa cruz - pante don jaime', 'tlapacoya', 'tepetzingo', 'finca los barreales', 'la loma', 'tlamatoca', 'linda vista', 'fazenda pantano', 'pante san pedro', 'fazenda chamusca', 'las ceibas', 'huanacaxtle', 'rancho san francisco iii', "olhos d'agua", 'finca la fortuna', 'la lagunilla', 'castelhana farm', 'platanal', 'finca la orduña', 'la orduña, coatepec, veracruz', 'juliana', 'cafetal santa maria', 'fazenda vista alegre', 'sitio claro', 'los barreales 1112lbcat_s110312', 'chilcuatla', 'barranca de las flores', 'several farms', 'la distancia', 'rancho bonito', 'sertao', 'fazenda baipendi', 'fazenda serra de três barras', 'corral del diablo lote 1', 'água limpa', 'texpanco', 'finca la estancia', 'llano hermoso', 'finca el gavilancillo', 'finca la joya', 'las nubes - pante don jaime', 'finca monte azúl', 'la timbuchera; el ocotito y la hortaliza', 'fazenda do lobo', 'asoperc', 'el limón', 'santa mariana', 'el sauce', 'las cebollas y anexos', 'cafetal', 'las lomas']
Lot.Number: [nan, '11/23/0634', '53', '260/15', '020/17', '3-59-1772', '2017-003', '11/23/0335', '11/23/0367', '43102245 - P4615', '2016-2017-1', '3-59-0504', '019/17', '11/23/0639', '0063/17', '14', 'KLEM-C04', '3-37-0059', '11/23/0673', '11/23/0693', '259/15', '11/23/0178', '3-59-1919', '3-59-1773', '11/23/0252', '3-37-1829', 'cosecha 2015-2016', '3-59-2318', '11/52/709', '3-59-2888', '43102245/P4615', '11/23/0146', '11/23/0366', '11/23/0369', '3-37-3729', '007/16E', '3-37-1704', '008/16B', '008/16A', '11-43367-27', '3-37-1724', '261/15', '3-37-4378', '007/16D', '007/16F', '2017/001', '11/23/0177', '007/16B', '11/23/0400', '68-0054', '11/23/0507', '11/23/0508', '2017/2018-Lot01', '11/11711/59', '11/23/0145', '11/23/0690', '11/43367/12', '91', '11/11711/60', '1', '3-37-4468', '11/23/0513', '11/23/0696', '11/15/0293', '11/973/158', '11/11711/58', '43103820 - K24258 - 030/16', '11/326/14', 'KLEM-C08', '11/23/0689', '11/23/0168', '3-37-0277', '3-37-2548', '11/23/0701', 'GO-669-16', '11/23/0633', '2017/2018 - Lot 2', '43104350 - K25247', '2016/0001', '11/52/1170', '11-973-152', '3-37-4434', '3-59-0503', '240LVCF', '3-59-1695', '11/23/0368', '3-59-1694', '11/23/0688', '11/23/0640', '11/23/0632', '3-59-0075', '101']
Altitude: [nan, 'de 1.600 a 1.950 msn', '4000', '900-1100', '1750', '4300', '1.2', '1300', '1750 msnm', '1700m', '1400 m', '774', '442 msnm', '905', '890', '4000 psn', '442', 'de 1600 a 1950 msnm', '1400 masl', '1261', '1100', '1', '1100m', '995', '1200', '1600 m.s.n.m', '1350', '1000', '3280', '1500', '4540 metros', '1800 msnm', '1550', '1750 m.s.n.m', '1050 - 1850 msnm', '1800', '1600', '439', '1700', '982', '695', '1450', '1483', '1170', '1800 mts', '700', '1901', '4000 p.s.n.m', '950', '5000 ft.', '1400', '1000m', '1700 msnm', '900', '950m', '1200 m', '1250m', '1250', '1650', '1210', '5000', '1600 msnm', '1600 a 1900 msnm', '4000 psnm', '1550 msnm', '940', '1300 a 1800 metros sobre el nivel del mar', '1770', '1200-1600m', 'de 1.600 a 1.950 msnm', '1300 meters', '1150', '1800 m.s.n.m', '1300 to 1500 meters', '1800 meters (5900', '1500 msnm', '4000 p.s.n.m.', '3607', '2527', '1600 - 1800 m', '4500', '1260', '4451 metros', '850', '1880 msnm', '750', '518', '1300m', '4650', '1200 meters', '934', '1480', '1050', '1380', '100', '1264', '900-950m', '1400 msm', '1400 mts', '4600 ft.', '1500-1750 msnm', '1218', '3500 - 5200 feet', '1.250 m', '1550 meter', '1059', '872', '973', '4000psn', '1248', '800', '1600-1800 msnm', '894m - 1183m', '1850 msnm', '5440 - 5760 metros', '763', '1500msnm', '3500-5200 feet', '1600 - 1950 msnm', '894', '5000 pies', '1296', '1901.64', '900-1200mtr', '1050 - 1850', '1400-1900 psn', 'mmm', '900-1500m', '1550 mts.', '1130', '1200-2000m', '533', '1800 - 2000', '1550-1700m', '1227', '4563', '441', '1186', '1600-1800msnm', '12oo', '532', '1089', '1250 m', '4500 pies', '11000 metros', '900-1050m', '1140', '1600 meters', '1530', '900m', '981', '1642', '175', '1320', '1200 a 1400', '1000 m', '1500-1600', '5440-5760 metros', '1268', '6100 metros', '5500-6000 psnm', '1300 mts', '1350-1500', '1.25', '900-1200m', '1813', '1200m', '690', '1000 msnm', '3664', '2100', '5600-5760 metros', '1799', '190164', 'de 1.600 a 1950 msnm', '2136 msnm', '1450 msnm', '1338', '1300 a 1800 mtrs. a nivel del mar', '2.560 msnm']
Number.of.Bags: [250, 275, 25, 305, 1, 300, 8, 36, 100, 10, 320, 35, 11, 42, 31, 440, 60, 70, 130, 302, 12, 50, 45, 400, 500, 53, 1062, 40, 20, 230, 30, 127, 39, 270, 48, 7, 200, 28, 15, 150, 252, 75, 14, 310, 2, 149, 80, 135, 280, 26, 600, 209, 5, 245, 21, 84, 43, 37, 253, 58, 180, 223, 69, 23, 175, 3, 32, 120, 56, 13, 6, 94, 44, 27, 202, 304, 125, 220, 17, 62, 129, 82, 90, 450, 380, 29, 243, 74, 198, 240, 0, 51, 16, 54, 138]
Bag.Weight: ['1 kg', '70 kg', '69 kg', '2 kg', '5 lbs', '60 kg', '8 kg', '55 lbs', '59 kg', '50 kg', '29 kg', '5 kg', '6', '30 kg', '80 kg', '1', '4 lbs', '35 kg', '24 kg', '2 lbs', '1500 kg', '3 kg', '3 lbs', '0 kg']
Harvest.Year: ['2012', 'Mayo a Julio', '2017', '2014', '2013', '2010', '2016', '2015/2016', '2015', '2017 / 2018', '2010-2011', '4T/2010', '4T/10', '2011', '2014/2015', 'Abril - Julio /2011', nan, '08/09 crop', 'Spring 2011 in Colombia.', '4t/2011', '4T72010', '2011/2012', '2009/2010', '1t/2011', 'Jan.11', 'January Through April', 'Abril - Julio', '2013/2014', 'mmm', '1T/2011', '2016 / 2017', '47/2010', '3T/2011']
Grading.Date: ['January 13th, 2012', 'July 29th, 2011', 'September 8th, 2017', 'February 13th, 2015', 'September 12th, 2014', 'August 27th, 2013', 'July 9th, 2012', 'January 4th, 2011', 'February 25th, 2016', 'June 21st, 2013', 'March 21st, 2015', 'March 5th, 2012', 'October 29th, 2013', 'September 27th, 2012', 'November 27th, 2015', 'April 25th, 2016', 'October 20th, 2017', 'March 24th, 2014', 'February 11th, 2016', 'September 10th, 2012', 'July 9th, 2014', 'April 6th, 2011', 'July 14th, 2015', 'September 4th, 2012', 'October 8th, 2015', 'February 29th, 2012', 'November 3rd, 2017', 'July 2nd, 2012', 'February 1st, 2011', 'August 2nd, 2012', 'July 11th, 2012', 'August 18th, 2015', 'June 1st, 2016', 'June 6th, 2012', 'August 31st, 2012', 'January 28th, 2014', 'January 25th, 2012', 'February 9th, 2011', 'June 1st, 2017', 'January 12th, 2016', 'January 17th, 2014', 'November 11th, 2011', 'October 16th, 2014', 'July 19th, 2011', 'August 25th, 2014', 'July 19th, 2013', 'March 7th, 2017', 'December 11th, 2012', 'March 29th, 2013', 'August 1st, 2012', 'February 22nd, 2012', 'November 9th, 2017', 'February 9th, 2017', 'June 21st, 2017', 'August 30th, 2012', 'June 24th, 2014', 'March 26th, 2012', 'November 15th, 2017', 'January 20th, 2014', 'November 8th, 2016', 'August 2nd, 2013', 'August 24th, 2017', 'February 7th, 2014', 'September 17th, 2012', 'June 10th, 2014', 'September 12th, 2012', 'May 8th, 2014', 'June 6th, 2013', 'July 3rd, 2012', 'August 23rd, 2017', 'February 17th, 2012', 'April 9th, 2010', 'February 6th, 2017', 'April 27th, 2016', 'December 3rd, 2011', 'October 19th, 2012', 'October 17th, 2014', 'October 15th, 2014', 'July 15th, 2014', 'December 16th, 2014', 'April 17th, 2014', 'August 20th, 2012', 'October 26th, 2015', 'December 6th, 2013', 'December 20th, 2013', 'August 21st, 2014', 'April 7th, 2016', 'May 23rd, 2012', 'September 4th, 2014', 'July 8th, 2015', 'May 26th, 2015', 'May 23rd, 2015', 'April 10th, 2014', 'March 15th, 2011', 'November 3rd, 2015', 'July 26th, 2012', 'July 16th, 2013', 'June 13th, 2012', 'June 11th, 2015', 'May 16th, 2016', 'February 15th, 2017', 'January 17th, 2011', 'April 26th, 2016', 'January 9th, 2012', 'May 1st, 2014', 'May 30th, 2012', 'November 5th, 2014', 'November 16th, 2011', 'March 1st, 2011', 'March 7th, 2014', 'May 10th, 2017', 'April 23rd, 2014', 'July 17th, 2012', 'April 30th, 2012', 'September 11th, 2012', 'April 6th, 2016', 'May 22nd, 2012', 'June 8th, 2012', 'May 9th, 2013', 'June 30th, 2017', 'April 26th, 2013', 'April 8th, 2014', 'January 22nd, 2013', 'March 19th, 2012', 'May 31st, 2010', 'December 28th, 2015', 'July 23rd, 2010', 'March 12th, 2013', 'April 2nd, 2012', 'March 16th, 2016', 'April 27th, 2012', 'February 27th, 2014', 'March 20th, 2013', 'January 23rd, 2012', 'February 22nd, 2011', 'August 29th, 2012', 'September 19th, 2017', 'December 23rd, 2011', 'June 15th, 2016', 'May 24th, 2012', 'August 16th, 2016', 'February 16th, 2016', 'May 27th, 2014', 'September 13th, 2012', 'April 2nd, 2014', 'January 3rd, 2012', 'November 22nd, 2012', 'September 3rd, 2013', 'October 23rd, 2014', 'June 4th, 2012', 'April 29th, 2015', 'October 28th, 2011', 'May 7th, 2013', 'January 18th, 2012', 'December 18th, 2014', 'November 7th, 2014', 'June 5th, 2012', 'January 9th, 2018', 'February 26th, 2013', 'June 25th, 2015', 'November 19th, 2015', 'January 10th, 2017', 'February 1st, 2012', 'May 11th, 2012', 'July 22nd, 2016', 'January 13th, 2011', 'April 16th, 2013', 'August 11th, 2014', 'March 16th, 2012', 'February 7th, 2013', 'April 8th, 2015', 'September 14th, 2012', 'January 20th, 2017', 'March 31st, 2014', 'June 16th, 2014', 'February 9th, 2012', 'July 23rd, 2015', 'June 14th, 2011', 'January 5th, 2012', 'October 9th, 2012', 'May 21st, 2013', 'January 22nd, 2015', 'June 5th, 2015', 'July 16th, 2012', 'April 3rd, 2014', 'June 10th, 2015', 'December 27th, 2013', 'October 29th, 2015', 'September 7th, 2010', 'August 7th, 2013', 'November 7th, 2013', 'March 27th, 2014', 'May 31st, 2013', 'August 14th, 2014', 'May 24th, 2013', 'August 22nd, 2017', 'June 22nd, 2017', 'July 27th, 2012', 'October 27th, 2017', 'July 23rd, 2012', 'May 23rd, 2016', 'April 18th, 2011', 'May 26th, 2010', 'September 7th, 2011', 'April 9th, 2012', 'October 7th, 2013', 'March 12th, 2015', 'September 29th, 2015', 'September 23rd, 2014', 'March 11th, 2016', 'January 2nd, 2014', 'October 1st, 2013', 'March 23rd, 2011', 'December 1st, 2011', 'July 29th, 2014', 'December 3rd, 2015', 'March 20th, 2014', 'June 27th, 2013', 'April 20th, 2011', 'May 26th, 2014', 'August 23rd, 2012', 'June 5th, 2013', 'December 22nd, 2011', 'May 30th, 2013', 'August 16th, 2013', 'November 20th, 2015', 'January 15th, 2015', 'December 26th, 2013', 'November 21st, 2014', 'October 12th, 2015', 'July 7th, 2017', 'March 15th, 2013', 'May 22nd, 2014', 'September 19th, 2012', 'July 5th, 2013', 'January 9th, 2013', 'January 6th, 2012', 'October 23rd, 2012', 'December 12th, 2014', 'December 12th, 2013', 'November 17th, 2015', 'August 31st, 2016', 'June 30th, 2015', 'August 15th, 2014', 'January 31st, 2012', 'January 29th, 2013', 'November 6th, 2013', 'April 26th, 2014', 'September 9th, 2016', 'October 23rd, 2015', 'March 17th, 2016', 'April 20th, 2015', 'January 21st, 2014', 'February 4th, 2014', 'August 8th, 2014', 'January 25th, 2011', 'January 24th, 2014', 'November 25th, 2016', 'May 13th, 2014', 'October 4th, 2011', 'March 11th, 2013', 'February 13th, 2013', 'October 5th, 2012', 'December 21st, 2011', 'April 12th, 2012', 'April 15th, 2016', 'May 29th, 2014', 'June 5th, 2017', 'July 25th, 2012', 'February 23rd, 2012', 'February 16th, 2012', 'April 19th, 2017', 'July 20th, 2015', 'March 21st, 2014', 'January 16th, 2018', 'October 13th, 2016', 'June 23rd, 2016', 'August 12th, 2016', 'August 5th, 2016', 'April 18th, 2014', 'May 12th, 2017', 'January 8th, 2014', 'September 22nd, 2011', 'February 20th, 2017', 'March 3rd, 2014', 'April 29th, 2013', 'February 18th, 2014', 'March 2nd, 2013', 'November 11th, 2010', 'March 13th, 2014', 'May 12th, 2011', 'June 26th, 2012', 'February 27th, 2013', 'September 11th, 2014', 'September 28th, 2017', 'June 27th, 2014', 'December 30th, 2013', 'May 20th, 2013', 'April 23rd, 2015', 'July 3rd, 2017']
Variety: ['Bourbon', 'Caturra', 'Catuai', nan, 'Yellow Bourbon', 'Pacamara', 'Typica', 'Blue Mountain', 'Mundo Novo', 'Other', 'Pacas', 'Arusha', 'Moka Peaberry', 'Marigojipe']
Processing.Method: ['Washed / Wet', nan, 'Natural / Dry', 'Pulped natural / honey', 'Semi-washed / Semi-pulped', 'Other']
Aroma: [7.17, 7.33, 7.5, 7.67, 7.75, 7.83, 8.42, 8.0, 7.42, 7.92, 7.0, 7.25, 7.58, 6.92, 8.08, 6.5, 6.75, 8.33, 6.83, 7.08, 6.17, 8.25, 8.17, 8.5, 7.81, 6.67, 8.58, 5.08, 6.42]
Flavor: [6.08, 7.33, 7.42, 7.67, 7.58, 7.92, 7.75, 7.5, 8.0, 7.25, 7.83, 7.0, 7.17, 6.17, 8.08, 6.75, 7.08, 6.92, 6.33, 6.5, 8.5, 6.58, 8.17, 6.67, 6.42, 6.83, 7.88, 7.81, 8.42]
Aftertaste: [6.17, 7.33, 7.42, 7.67, 7.75, 7.08, 8.0, 7.5, 7.17, 7.58, 7.25, 7.83, 7.0, 6.83, 6.92, 7.92, 6.67, 6.5, 8.42, 6.58, 6.75, 7.38, 7.88, 6.33]
Acidity: [7.25, 7.58, 7.75, 7.5, 7.42, 7.83, 7.17, 7.67, 7.33, 7.92, 7.08, 6.75, 6.83, 8.0, 7.0, 8.08, 8.17, 8.42, 6.92, 8.33, 5.25, 7.63, 8.5]
Body: [7.33, 7.25, 7.5, 7.42, 7.67, 7.92, 7.58, 7.83, 6.92, 7.0, 8.17, 7.75, 7.17, 8.0, 7.08, 8.08, 8.33, 6.83, 6.75, 7.38, 8.25, 6.67, 6.33]
Balance: [7.33, 8.08, 7.5, 7.42, 8.0, 7.17, 7.58, 7.67, 7.25, 7.83, 6.92, 7.75, 8.17, 7.0, 7.08, 6.83, 7.92, 8.25, 8.5, 8.58, 6.75, 8.42, 6.42, 6.67, 6.58, 8.75, 8.33]
Uniformity: [10.0, 9.33, 8.0, 7.33, 8.67, 6.67, 9.0, 9.5, 6.0]
Clean.Cup: [10.0, 8.0, 9.33, 6.0, 8.67, 6.67, 1.33, 5.33, 7.33]
Sweetness: [10.0, 9.33, 8.67, 6.67, 1.33, 8.0]
Cupper.Points: [7.0, 8.17, 7.5, 7.58, 7.25, 7.42, 7.75, 7.33, 7.67, 7.08, 8.0, 7.17, 7.83, 6.92, 7.92, 6.67, 8.42, 6.83, 6.58, 6.75, 6.0, 6.33, 9.25, 8.08, 6.17, 6.5, 6.42, 8.25, 8.13, 8.5, 8.33]

In [1228]:
# check for the dataset features
output_str = ""
num = 1
for col in col_values: 
    jump_line = (f"\n" if num % 8 == 0 else "")
    output_str += col + ", " + jump_line
    num += 1
print(f"FEATURES SUMMARY\n-----")
print(output_str)

FEATURES SUMMARY
-----
id, Species, Farm.Name, Lot.Number, Altitude, Number.of.Bags, Bag.Weight, Harvest.Year,
Grading.Date, Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body,
Balance, Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects,
Quakers, Color, Category.Two.Defects, Expiration, Country.of.Origin,

In [1229]:
# create insightful features category
category = {
    "location": ["Farm.Name", "Country.of.Origin", "Altitude"],
    "logistic": ["Lot.Number", "Number.of.Bags", "Bag.Weight", "Harvest.Year", "Grading.Date", "Expiration"],
    "plant": ["Species", "Variety", "Processing.Method"],
    "taste": ["Aroma", "Flavor", "Aftertaste", "Acidity", "Body", "Balance", "Sweetness", "Uniformity", "Clean.Cup"],
    "quality": ["Cupper.Points", "Total.Cup.Points"],
    "physical": ["Moisture", "Category.One.Defects", "Category.Two.Defects", "Quakers", "Color"]
}
print(f"FEATURES CATEGORIZE SUMMARY\n-----")
for cat in category:
    print(cat)
    print(category[cat])
    print("\n")

FEATURES CATEGORIZE SUMMARY
-----
location
['Farm.Name', 'Country.of.Origin', 'Altitude']


logistic
['Lot.Number', 'Number.of.Bags', 'Bag.Weight', 'Harvest.Year', 'Grading.Date', 'Expiration']


plant
['Species', 'Variety', 'Processing.Method']


taste
['Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Sweetness', 'Uniformity', 'Clean.Cup']


quality
['Cupper.Points', 'Total.Cup.Points']


physical
['Moisture', 'Category.One.Defects', 'Category.Two.Defects', 'Quakers', 'Color']

In [1230]:
train_df.isna().sum()

id                        0
Species                   0
Farm.Name               166
Lot.Number              480
Altitude                 67
Number.of.Bags            0
Bag.Weight                0
Harvest.Year             10
Grading.Date              0
Variety                  61
Processing.Method        52
Aroma                     0
Flavor                    0
Aftertaste                0
Acidity                   0
Body                      0
Balance                   0
Uniformity                0
Clean.Cup                 0
Sweetness                 0
Cupper.Points             0
Total.Cup.Points          0
Moisture                  0
Category.One.Defects      0
Quakers                   1
Color                   116
Category.Two.Defects      0
Expiration                0
Country.of.Origin         0
dtype: int64

In [1231]:
test_df.isna().sum()

Species                   0
Farm.Name                49
Lot.Number              118
Altitude                 20
Number.of.Bags            0
Bag.Weight                0
Harvest.Year              2
Grading.Date              0
Variety                  12
Processing.Method        12
Aroma                     0
Flavor                    0
Aftertaste                0
Acidity                   0
Body                      0
Balance                   0
Uniformity                0
Clean.Cup                 0
Sweetness                 0
Cupper.Points             0
Total.Cup.Points          0
Moisture                  0
Category.One.Defects      0
Quakers                   0
Color                    26
Category.Two.Defects      0
Expiration                0
dtype: int64

In [1232]:
# check for nan values on both datasets
print(f"TRAIN DATASET NAN VALUES COLS: \n-----\n", train_df.columns[train_df.isna().any()].tolist())
print("\n")
print(f"TEST DATASET NAN VALUES COLS: \n-----\n", test_df.columns[test_df.isna().any()].tolist())

TRAIN DATASET NAN VALUES COLS:
-----
 ['Farm.Name', 'Lot.Number', 'Altitude', 'Harvest.Year', 'Variety', 'Processing.Method', 'Quakers', 'Color']


TEST DATASET NAN VALUES COLS:
-----
 ['Farm.Name', 'Lot.Number', 'Altitude', 'Harvest.Year', 'Variety', 'Processing.Method', 'Color']

# Data Preparation: Inconsistency

In [1233]:
# date datatype correction
numerical_cols = ["Altitude", "Number.of.Bags", "Bag.Weight", "Aroma", 
                 "Flavor", "Aftertaste", "Acidity", "Body", "Balance", 
                 "Uniformity", "Clean.Cup", "Sweetness", "Cupper.Points",
                 "Total.Cup.Points", "Moisture", "Category.One.Defects", 
                 "Quakers", "Category.Two.Defects"
                 ]
date_cols = ["Harvest.Year", "Grading.Date", "Expiration"]

def processNumericalRow(row, col):
    word = str(row)
    numbers = [
        float((number.replace(".", "") if col == "Altitude" else number)) 
        for number in re.findall("\d+\.\d+|\d+", word)
        ]
    if len(numbers) > 1:
        mean = sum(numbers) / len(numbers)
        return mean
    elif len(numbers) == 1:
        first_number = numbers[0]
        return first_number
    else:
        return None
    
def processDateRow(row, col):
    word = str(row)
    if col == "Harvest.Year":
        # 2012
        if re.fullmatch("\d{4}", word):
            return word + "/" + word
        # 4t/2012 or 4T/2012
        elif re.fullmatch("[1-4][Tt]/\d{4}", word):
            _, year = re.split("[Tt]/", word)
            return year + "/" + year 
        # 4t/12
        elif re.fullmatch("[1-4][Tt]/\d{2}", word):
            _, year = re.split("[Tt]/", word)
            return "20" + year + "/" + "20" +year
        # 2012 / 2012
        elif re.fullmatch("\d{4} / \d{4}", word):
            year1, year2 = re.split(" / ", word)
            return year1 + "/" + year2
        # 2012-2012
        elif re.fullmatch("\d{4}-\d{4}", word):
            year1, year2 = re.split("-", word)
            return year1 + "/" + year2
        # .../2012
        elif re.fullmatch(".*(Julio /\d{4}|47/\d{4})$", word):
            _, year = word.split("/")
            return year + "/" + year
        # 4T72010
        elif word == "4T72010":
            return "2010" + "/" + "2010"
        # 08/09 crop
        elif word == "Jan.11":
            return "2011" + "/" + "2011"
        # 08/09 crop
        elif word == "08/09 crop":
            return "2008" + "/" + "2009"
        # 2012/2012 or others
        else:
            if re.fullmatch("\d{4}/\d{4}", word):
                return word
            else:
                list_words = word.split(" ")
                combined_word = None
                for word_list in list_words:
                    if re.fullmatch("\d{4}", word_list):
                        combined_word = word_list + "/" + word_list
                return combined_word
    else:
        return pd.Timestamp(row).date()
            
def processCol(df):
    for col in df.columns:
        if col in numerical_cols:
            df[col] = df[col].apply(lambda row: None if pd.isna(row) else processNumericalRow(row, col))
        elif col in date_cols:
            df[col] = df[col].apply(lambda row: None if pd.isna(row) else processDateRow(row, col))
        else:
            continue
        
processCol(train_df)
processCol(test_df)

# list_of_years = [row for row in train_df["Grading.Date"] if isinstance(row, str)]
# print(list_of_years) 

train_df.head()

,id,Species,Farm.Name,Lot.Number,Altitude,Number.of.Bags,Bag.Weight,Harvest.Year,Grading.Date,Variety,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,Country.of.Origin
0,0,Arabica,conquista / morito,NaN,NaN,250.0,1.0,2012/2012,2012-01-13,Bourbon,...,10.0,7.00,78.33,0.11,0.0,0.0,Green,9.0,2013-01-12,2
1,1,Arabica,NaN,NaN,1775.0,275.0,70.0,None,2011-07-29,Caturra,...,10.0,8.17,83.08,0.01,0.0,0.0,NaN,0.0,2012-07-28,1
2,2,Arabica,la esmeralda,11/23/0634,4000.0,25.0,69.0,2017/2017,2017-09-08,Bourbon,...,10.0,7.50,82.58,0.10,0.0,1.0,Green,2.0,2018-09-08,2
3,3,Arabica,fazenda santo antonio,NaN,1000.0,305.0,2.0,2014/2014,2015-02-13,Catuai,...,10.0,7.58,83.00,0.00,0.0,0.0,Green,0.0,2016-02-13,0
4,4,Arabica,NaN,NaN,NaN,1.0,5.0,2013/2013,2014-09-12,NaN,...,10.0,7.25,82.08,0.11,1.0,0.0,Green,0.0,2015-09-12,1

# Data Preparation: Missing Values

In [1234]:
# roadmap to correct every feature
col_type = {
    "Farm.Name": "lot.number(initial) / altitude+bag weight+processing method-> copy(two features) or random mix(one or zero features)",
    "Lot.Number": "random",
    "Altitude": "farmname(existing) / variety(mean) / all(mean)",
    "Harvest.Year": "gradient date-existing harvest year(mean)",
    "Variety": "altitude(mode)",
    "Processing.Method": "variety(mode)",
    "Quakers": "taste complex",
    "Color": "species complex"
}

In [1236]:
# farm name correction

# 1 - collect category of lot numbers that doesnt has a farm name
def collectLotNumber(df):
    lotnbr_category = {}
    for _, row in df[["Farm.Name", "Lot.Number"]].iterrows():
        if not pd.isna(row["Lot.Number"]) and pd.isna(row["Farm.Name"]):
            lotnbr_original = row["Lot.Number"]
            lotnbr = lotnbr_original.replace(" ", "")
            matches = [match.start() for match in re.finditer(f"[{string.punctuation}]", lotnbr)]
            special_caracter_index = None
            if len(matches) > 1:
                special_caracter_index = matches[1]
            elif len(matches) == 1:
                special_caracter_index = matches[0]
            if (special_caracter_index == None): 
                lotnbr_splitted = lotnbr
            else:
                lotnbr_splitted = lotnbr.split(lotnbr[special_caracter_index-1] + lotnbr[special_caracter_index])
            fazenda_name = "fazenda" + lotnbr_splitted[0]
            if fazenda_name in lotnbr_category:
                lotnbr_category[fazenda_name].append(lotnbr_original)
            else:
                lotnbr_category[fazenda_name] = [lotnbr_original]
    return lotnbr_category

# 2 - iter through the df rows where the lot number inside of the lotnbr_category is going to assign the col farm name to its value
def farmNameAssign(df):
    farmname_dict = collectLotNumber(df)
    for index, row in df[["Farm.Name", "Lot.Number"]].iterrows():
        for row2 in farmname_dict:
            if row["Lot.Number"] in farmname_dict[row2]:
                df.iloc[index, 2] = row2
    return df

farmNameAssign(train_df).head(20)

,id,Species,Farm.Name,Lot.Number,Altitude,Number.of.Bags,Bag.Weight,Harvest.Year,Grading.Date,Variety,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,Country.of.Origin
0,0,Arabica,conquista / morito,NaN,NaN,250.0,1.0,2012/2012,2012-01-13,Bourbon,...,10.0,7.00,78.33,0.11,0.0,0.0,Green,9.0,2013-01-12,2
1,1,Arabica,NaN,NaN,1775.0,275.0,70.0,None,2011-07-29,Caturra,...,10.0,8.17,83.08,0.01,0.0,0.0,NaN,0.0,2012-07-28,1
2,2,Arabica,la esmeralda,11/23/0634,4000.0,25.0,69.0,2017/2017,2017-09-08,Bourbon,...,10.0,7.50,82.58,0.10,0.0,1.0,Green,2.0,2018-09-08,2
3,3,Arabica,fazenda santo antonio,NaN,1000.0,305.0,2.0,2014/2014,2015-02-13,Catuai,...,10.0,7.58,83.00,0.00,0.0,0.0,Green,0.0,2016-02-13,0
4,4,Arabica,NaN,NaN,NaN,1.0,5.0,2013/2013,2014-09-12,NaN,...,10.0,7.25,82.08,0.11,1.0,0.0,Green,0.0,2015-09-12,1
5,5,Arabica,NaN,NaN,1750.0,275.0,70.0,2013/2013,2013-08-27,Caturra,...,10.0,7.58,83.75,0.11,0.0,0.0,Green,3.0,2014-08-27,1
6,6,Arabica,agropecuaria quiagral,NaN,4300.0,250.0,1.0,2012/2012,2012-07-09,Bourbon,...,10.0,7.42,83.25,0.11,0.0,0.0,Green,9.0,2013-07-09,2
7,7,Arabica,pereira estate coffee,NaN,12.0,300.0,60.0,2010/2010,2011-01-04,Yellow Bourbon,...,10.0,8.17,86.17,0.01,0.0,0.0,NaN,3.0,2012-01-04,0
8,8,Arabica,gabriel bernard rivas ross,53,1300.0,8.0,8.0,2016/2016,2016-02-25,NaN,...,10.0,7.75,82.67,0.11,0.0,2.0,Green,3.0,2017-02-24,3
9,9,Arabica,NaN,NaN,1750.0,250.0,70.0,2013/2013,2013-06-21,Caturra,...,10.0,7.33,82.33,0.00,0.0,0.0,Green,1.0,2014-06-21,1
10,10,Arabica,el injerto s.a.,NaN,1700.0,36.0,55.0,2014/2014,2015-03-21,Pacamara,...,10.0,7.33,81.25,0.09,0.0,0.0,Bluish-Green,2.0,2016-03-20,2
11,11,Arabica,el jabali,NaN,1400.0,100.0,1.0,2012/2012,2012-03-05,Typica,...,10.0,7.75,82.92,0.14,1.0,0.0,Green,4.0,2013-03-05,3
12,12,Arabica,various,NaN,1750.0,250.0,70.0,2013/2013,2013-10-29,Caturra,...,10.0,7.58,83.67,0.00,0.0,0.0,Green,3.0,2014-10-29,1
13,13,Arabica,los magueyes,NaN,774.0,10.0,1.0,2012/2012,2012-09-27,Bourbon,...,10.0,7.50,81.75,0.13,2.0,0.0,NaN,9.0,2013-09-27,3
14,14,Arabica,NaN,NaN,442.0,250.0,70.0,2015/2016,2015-11-27,Caturra,...,10.0,7.75,83.75,0.00,0.0,0.0,Green,0.0,2016-11-26,1
15,15,Arabica,capoeirinha,260/15,905.0,320.0,60.0,2015/2015,2016-04-25,Yellow Bourbon,...,10.0,7.50,82.75,0.11,0.0,2.0,Bluish-Green,1.0,2017-04-25,0
16,16,Arabica,fazenda capoeirnha,020/17,890.0,320.0,60.0,2017/2018,2017-10-20,Bourbon,...,10.0,7.00,77.33,0.00,0.0,0.0,Green,3.0,2018-10-20,0
17,17,Arabica,el papaturro,NaN,4000.0,250.0,69.0,2014/2014,2014-03-24,Bourbon,...,10.0,8.17,84.58,0.09,0.0,0.0,Green,0.0,2015-03-24,2
18,18,Arabica,fazenda3-5,3-59-1772,442.0,250.0,70.0,2016/2016,2016-02-11,NaN,...,10.0,7.67,83.92,0.11,1.0,0.0,Green,2.0,2017-02-10,1
19,19,Arabica,"cafetal el equimite, rancho agroecológico",NaN,1300.0,35.0,1.0,2012/2012,2012-09-10,Typica,...,10.0,7.42,82.08,0.13,0.0,0.0,Green,7.0,2013-09-10,3

In [1238]:
# lot number correction

In [1239]:
# altitude correction

# how to discover altitude? farmname-association
# categorize from...
# Species, Farm.Name, Lot.Number, Number.of.Bags, Bag.Weight, 
# Aroma, Flavor, Aftertaste, Acidity, Body, Balance, 
# Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects

# 1 - check the percent of altitude is associate to farmname, by infering the farmname nan value causing altitude nan value
# 2 - after know that altitude is strongly associate with farmname, we can fill altitude nan value by combinig farmname values + country origin

def altitude_farmname_association_percent(df):
    farmname_nan_count = df["Farm.Name"].isna().sum()
    altitude_nan_count = df["Altitude"].isna().sum()
    farmname_altitude_count = farmname_nan_count - (farmname_nan_count-altitude_nan_count)
    return (farmname_altitude_count/altitude_nan_count)*100

print(f"TRAIN DF, frequent of altitude nan value is associate with farmname nan value: {altitude_farmname_association_percent(train_df)}%")
print(f"TEST DF, frequent of altitude nan value is associate with farmname nan value: {altitude_farmname_association_percent(test_df)}%")

TRAIN DF, frequent of altitude nan value is associate with farmname nan value: 100.0%
TEST DF, frequent of altitude nan value is associate with farmname nan value: 100.0%

In [1240]:
# harvest year correction

# how to discover harvest year? expiration-date
# categorize from...
# Species, Farm.Name, Lot.Number, Altitude, Number.of.Bags, Bag.Weight, Harvest.Year, Grading.Date, 
# Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, 
# Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects, Quakers, 
# Color, Category.Two.Defects, Expiration, Country.of.Origin,
# species, variety, processing method

In [1241]:
# variety correction

# how to discover variety? species-complex
# categorize from...
# Species, Farm.Name, Lot.Number, Altitude, Number.of.Bags, Bag.Weight, Harvest.Year, Grading.Date, 
# Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, 
# Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects, Quakers, 
# Color, Category.Two.Defects, Expiration, Country.of.Origin,
# species, farm name, altitude, processing method, aroma, flavor, aftertaste, acidity, body, balance, uniformity, sweetness, clean cup

In [1242]:
# processing method correction

# how to discover processing method? process-complex
# categorize from...
# Species, Farm.Name, Lot.Number, Altitude, Number.of.Bags, Bag.Weight, Harvest.Year, Grading.Date, 
# Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, 
# Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects, Quakers, 
# Color, Category.Two.Defects, Expiration, Country.of.Origin,
# farm name, altitude, variety, category one and two defects

In [1243]:
# quakers correction

# how to discover quakers?
# categorize from...
# Species, Farm.Name, Lot.Number, Altitude, Number.of.Bags, Bag.Weight, Harvest.Year, Grading.Date, 
# Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, 
# Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects, Quakers, 
# Color, Category.Two.Defects, Expiration, Country.of.Origin,

In [1244]:
# colors correction

# how to discover colors?
# categorize from...
# Species, Farm.Name, Lot.Number, Altitude, Number.of.Bags, Bag.Weight, Harvest.Year, Grading.Date, 
# Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, 
# Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects, Quakers, 
# Color, Category.Two.Defects, Expiration, Country.of.Origin,

In [1245]:
# convert all features nan values into insightful values
def convert_nan():
    return None

# Feature Engineering & Selection

# Model Selection & Training

# Model Evaluation & Validation

# Submit Model Predictions